# Python virtual environment
venv/

# Dataset folder
dataset/

# Dataset folder
Eye Disease Image Dataset

# Bytecode / caches
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

echo "models/*.h5" >> .gitignore
echo "models/*.keras" >> .gitignore
